body {
    background-color: pink;
}

.crystal {
    text-align: center;
    padding-top: 50px;
}

.winsandLosses {
    text-align: center;
    font-family: cursive;
}

.Jumbotron {
    text-align: center;
    font-family: cursive;
    padding-top: 50px;
}

.numberToMatch {
    text-align: center;
    font-family: cursive;
}

.Collected {
    text-align: center;
    font-family: cursive;
}