body {
    background-color: pink;
}

.crystal {
    text-align: center;
    padding-top: 50px;
}

#scoreToMatch {
    text-align: center;
    font-family: cursive;
}

#wins {
    text-align: center;
    font-family: cursive;
}

.col-sm-9 {
    text-align: center;
    font-family: cursive;
}

.col-sm-3 {
    text-align: center;
    font-family: cursive;
}
#losses {
    text-align: center;
    font-family: cursive;
}

h1 {
    text-align: center;
    font-family: cursive;
    
}

.numberToMatch {
    text-align: center;
    font-family: cursive;
}

.crystalCollected {
    text-align: center;
    font-family: cursive;
}

.instructions {
    text-align: center;
    font-family: cursive;
}